# PVC for WIPP-plugins
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wipp-pv-claim
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: wipp-backend-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: wipp-backend-role
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "watch", "patch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get", "watch"]
  - apiGroups: ["argoproj.io"]
    resources: ["workflows"]
    verbs: ["delete", "deletecollection", "get", "list", "patch", "create", "update", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: wipp-backend-rb
subjects:
  - kind: ServiceAccount
    name: wipp-backend-sa
roleRef:
  kind: Role
  name: wipp-backend-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wipp-backend
spec:
  selector:
    matchLabels:
      app: wipp-backend
  replicas: 1
  template:
    metadata:
      labels:
        app: wipp-backend
    spec:
      serviceAccountName: wipp-backend-sa
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - image: wipp/wipp-backend:3.0.0-rc1
          name: wipp-backend
          imagePullPolicy: Always
          args: ["wipp-mongo", "27017", "wipp-pv-claim"]
          env:
            - name: KEYCLOAK_AUTH_URL
              value: "http://localhost:32006/auth"
            - name: KEYCLOAK_SSL_REQUIRED
              value: "external"
            - name: KEYCLOAK_DISABLE_TRUST_MANAGER
              value: false
          volumeMounts:
            - mountPath: /data/WIPP-plugins
              name: data
          ports:
            - containerPort: 8080
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: wipp-pv-claim
      restartPolicy: Always
---
